@using System.Threading.Tasks



<h1>Status: @Status</h1>
<EditForm method="post" Model=@CommentDTO OnSubmit=@FormSubmitted FormName="createCommentForm" Enhance>
    <div class="mb-3">
        <label for="Body" class="form-label">Body</label>
        <InputText  id="body" class="form-control" @bind-Value="CommentDTO.Body" />
    </div>
	<input type="submit" value="Submit" class="btn btn-primary"/>
</EditForm>

@code
{
    string Status = "Not submitted";

    [Parameter]
    public int PostId { get; set; } = 1;

    [Parameter]
    public int UserId { get; set; } = 1;

    [SupplyParameterFromForm]
    public CreateCommentDTO CommentDTO {get; set;} = new CreateCommentDTO{PostId=0, Body="", UserId=1};

    [Inject]
    public ICommentsService CommentsService { get; set; } = default!;

    async Task FormSubmitted()
    {   
        CommentDTO.PostId = PostId;
        CommentDTO.UserId = UserId;
        await CommentsService.AddCommentAsync(CommentDTO);
        CommentDTO = new CreateCommentDTO{PostId=0, Body="", UserId=1};
	}
}