

   <NavLink class="nav-link" href="@GetLink()">
        <div class="border" >
            <div>Title: @Title</div>
            <div>Body: @Body</div>
        </div>
    </NavLink>

@code {

    [Parameter]
    public int PostId { get; set; } = 0;

    [Parameter]
    public string Title { get; set; } = "Default Title";
    
    [Parameter]
    public string Body { get; set; } = "Default Body";

    [Parameter]
    public int UserId { get; set; } = 0;

    private string GetLink() => $"/posts/{PostId}";
}
